/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

body{
	font-size: 18px;
	line-height: 27px;
	color: 
	#747474;
}
.primary-menu{
	background: transparent !important;
	overflow: hidden;
	width: 100% !important;
	transition: none !important;

}

.menu-container.animated{
	max-width: 300px;
}

.overlay-menu.primary-menu-open .primary-menu,.overlay-menu .primary-menu{
	transition: none !important;
}
.primary-menu .menu-container,.primary-menu .menu-socials{
	opacity: 0;
}





.primary-row-overlay{
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* border-radius: 50%; */
	transform-origin: center;
	/* background-color: rgba(255, 255, 255, 1); */
	background-color: #f4f4f4;
	transform-origin: top;
	z-index: -1;
	transition: clip-path 1s ease-in-out !important;
}
.primary-menu[data-state="closing"] .primary-row-overlay{
	
	animation: elementClosed .85s cubic-bezier(0.4, 0, 0.2, 1) 1 forwards;
}
.primary-menu[data-state="opened"] .primary-row-overlay{
	animation:elementOpened .65s cubic-bezier(0, 0, 0.2, 1) 1 forwards;
}


@keyframes elementOpened{
	0%{
		clip-path: circle(0% at top right);
	}
	/* 25%{
		clip-path: circle(38% at top right);
	}
	50%{
		clip-path: circle(75% at top right);
	}
	75%{
		clip-path: circle(100% at top right);
	} */
	100%{
		clip-path: circle(150% at top right);
	}
}

@keyframes elementClosed{
	0%{
		clip-path: circle(150% at bottom left);
	}
	/* 50%{
		clip-path: circle(75% at bottom left);
	}
	75%{
		clip-path: circle(20% at bottom left);
	} */
	100%{
		clip-path: circle(0% at bottom left);
	}
}

.primary-menu-open .standard-logo{
	position: relative;
	z-index: 999999;
}

.primary-menu .container{
	overflow: hidden !important;
}

.primary-menu ul.one-page-menu{
	margin: 0 !important;
}
.primary-menu ul.one-page-menu p.menu-text{
	margin-bottom: 10px !important;
}
.menu-socials{
	position: absolute;
    bottom: 30px;
}




/* Services Page */

.list-ul li{
	font-size: 18px;
	/* text-indent: -16px; */
	/* margin-inline-start: 10px; */
	padding-inline-start: 25px;
	position: relative;
	list-style-type: none;
	color: #3c3c3c;
	/* list-style-position: inside; */
}


.list-ul li::before{
	content: '';
	position: absolute;
	left: -0;
	top: 2px;
	/* translate: 0 -50%; */
	background: url(../images/tick.png);
	width: 20px;
	height: 20px;
	background-size:20px;
	background-repeat: no-repeat;
}

.list-ul li ul li{
	list-style-type: circle;
	list-style-position: inside;
}
.list-ul li ul li::before{
	display: none;
}






.main-li:not(:last-child){
	margin-block-end: 10px;
}


#section-mission p,#section-mission{
	text-align: center;
}

.mx-w-85{
	max-width: 85%;
	margin-inline: auto;
}




.section-tabs{
	padding-block: 35px;
}

.btn-list{
	display: flex;
	overflow-x: auto;
}
.list-btn{
	border-radius: 25px;
	padding: 7px 10px;
	background: transparent;
	border: 2px solid #F89939;
	color: #F89939;
	box-shadow: none;
	outline: none;
	font-size: 14px;
	font-weight: 500;
	transition: all .5s ease-in-out;
}
.list-btn:hover{
	background: #F89939;
	color: #fff;
}

.list-btn.active{
	background: #F89939;
	color: #fff;
}

.list-btn:not(:last-child){
	margin-inline-end: 10px;
}

.click-effect{
	margin-block-start:30px;
	overflow: hidden;
}

.click-effect img{
	width: 100%;
}

span.special-span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 40px;
    font-weight: 700;
}

@media only screen and (max-width:767px){
	.list-btn{
		flex: 0 0 auto;
	}
}

@media only screen and (min-width:992px){
	.menu-item.sub-menu{
		position: relative;
	}
	.overlay-menu .sub-menu-container{
		position: absolute !important;
		right: -180px !important;
		top: 0px !important;
		left: auto !important;
	}

	body[data-pagetype="contact"] .dark .svg-trigger path{
		stroke: #000 !important;
	}
}

.showMore{
	max-height: 200px;
	overflow: hidden;
	line-height: 24px;
	position: relative;
}

.showmore-btn{
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fff;
	border: none;
	padding: 0px 0px 0px 15px;
	color: #F89939;
	line-height: 24px;
}

.showmore-btn span{
	pointer-events: none;
}

.overlay-menu .sub-menu-container{
	margin: 0 !important;
	padding: 10px 10px !important;
	/* width: auto !important; */
}

.divid{
	position: absolute;
	background: #F89939;
	transition: all .5s ease-in-out !important;
	display: none;
}
.top-divider,.bottom-divider{
	width: 0%;
	height: 2px;
}
.left-divider,.right-divider{
	width: 2px;
	height: 0%;
}
.top-divider{
	top: 0px;
	left: 0;
}
.bottom-divider{
	bottom: 0;
	right: 0;
}
.left-divider{
	left: 0;
	bottom: 0;
}
.right-divider{
	right: 0;
	top: 0;
}

.menu-item.sub-menu:hover .top-divider,.menu-item.sub-menu:hover .bottom-divider{
	width: 100%;
	transition: all .5s ease-in-out !important;
}



/* home page css */

#section-chooseUs{
	padding-top: 40px;
}

#section-chooseUs .feature-block{
	margin-block-end: 12px;
}
#section-chooseUs .feature-block h4{
	margin-block-end: 15px;
	color: #000;
}
#section-chooseUs .feature-block p{
	margin-block-end: 5px;
	line-height: 1.5;
}

#section-works{
	padding-top: 10px;
}

#section-services .fbox-button:hover{
	color: #fff;
}


/* careers page changes */

#section-employer{
	margin-block-start: 50px;
}

.main-sub-heading{
	font-size: 36px;
	margin-bottom: 10px;
}

/* #section-contact.section{
	padding-bottom: 0px;
} */

/* Services Pages */

.lr-section h2.main-heading{
	font-size: 36px;
}